# Supabase設定
VITE_SUPABASE_URL=https://srxtxukhonqejalqcymt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyeHR4dWtob25xZWphbHFjeW10Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM2Nzk5MDMsImV4cCI6MjA2OTI1NTkwM30.u5IZiXavT6ecraHn8nYD-Z6yCpz0ULNI47tQKYXM87w
VITE_USE_SUPABASE=true

# 開発環境設定
#VITE_USE_API=false
#VITE_API_URL=http://localhost:3001